# Core functionality - changes here should be rare!
/src/app.py                   @nagadheerajb
/src/backend/database.py      @nagadheerajb
/src/backend/routers/auth.py  @nagadheerajb

# The frontend will need refactored soon to be more object oriented.
/src/static/   @nagadheerajb
